div{
  font-size: 1.2rem;
}

.address{
  margin-left: 15px;
}


#phone{
  margin-left: 15px;
  margin-top: 15px;
}

#mail{
  margin-left: 15px;
  margin-top: 15px;
}
a{
  color: ivory;
  text-decoration: none;
}
