.all{
  background-color: #424242;
  padding-top: 50px;
  border-radius: 5px;
}

h1{
  margin-left: 32%;
  font-size: 3em;


}
img{
  padding-top: 10px;
  height: 50px;
  max-width: 50px;


}

mat-card{

  background-color: #707070;
 margin-left: 25%;
  margin-right: 15%;
  margin-top:5%;
  height:70px;
  width: 300px;
  margin-bottom: 5%;
}
#nom{
height: 20px;
width: 250px;
margin-left: 50px;

}
