
h1{
  margin-left: 100px;
  margin-top: 50px;

}
img{
  padding-top: 10px;
  height: 50px;
  max-width: 50px;


}

mat-card{


 margin-left: 15%;
  margin-right: 15%;
  margin-top:5%;
  height:70px;
  width: 300px;
}
#nom{
height: 20px;
width: 250px;
margin-left: 50px;

}
