<mat-card>
  <mat-card-title>
<h1>HOBBIES</h1>
  </mat-card-title>
<mat-card-content>
<div id="all" fxLayout="row " fxLayoutAlign="space-evenly center ">
  <div *ngFor="let hobby of hobbies"  >
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <img src="{{hobby.icon}}">
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>

    <div id="content"> <h2>{{hobby.name}}</h2>
      <p>{{hobby.description}}</p>
    </div>
  </mat-expansion-panel>
  </div>
</div>
</mat-card-content>
</mat-card>




