header{
  background-color: #424242;
 display: flex;
  flex-direction: row;

}


mat-toolbar{

  height: 200px;
}
mat-drawer{
  background-color: #212121;
  width: 20%;
}
mat-drawer-content{
  background-color:#707070;
}
