<mat-sidenav-container fullscreen  >


  <mat-sidenav mode="side" opened >
    <app-coordonates></app-coordonates>
    <app-birthdate></app-birthdate>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span> <app-name></app-name></span><span><app-sentence></app-sentence></span><span><app-picture></app-picture></span>
      </mat-toolbar-row>
    </mat-toolbar>
    <app-profession></app-profession>





  </mat-sidenav-content>
</mat-sidenav-container>










