<mat-sidenav-container fullscreen >
  <mat-sidenav #sidenav mode="over" [(opened)]="opened" >
    <app-coordonates></app-coordonates>
<app-social-skills></app-social-skills>


  </mat-sidenav>

  <mat-sidenav-content>
    <header  fxLayout="row" fxLayoutAlign=" space-between center">
      <span><button mat-icon-button (click)="sidenav.toggle()"><app-name></app-name></button></span>
      <span> <app-sentence></app-sentence></span>
       <span><app-picture></app-picture></span>
    </header>
    <mat-toolbar  fxLayout="row"   color="secondary" >

      <mat-toolbar-row fxLayoutAlign=" space-around center" >


      </mat-toolbar-row>
      <mat-toolbar-row fxLayoutAlign=" space-around center" > <span></span></mat-toolbar-row>



    </mat-toolbar>

    <app-profession ></app-profession>
    <app-xps></app-xps>





  </mat-sidenav-content>
</mat-sidenav-container>










